<a href="https://colab.research.google.com/github/Ammulaanusha2005/23CSBTB30/blob/main/excelsheet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
data=pd.read_csv("/content/FILE1.csv")
print(data)

    S.ID      NAME COURSE      CON.NO
0   2110    ANUSHA    CSE  1236865480
1   2111   AKSHAYA    CSE  8753629153
2   2112     SRIJA   AIML  3462981063
3   2113     SHIVA    CSE  7853220975
4   2114  NIHARIKA     DS  9638201543
5   2115  POOJITHA    CSE  9502218213
6   2116    HARSHA    CSE  9959022276
7   2117     SRINU   AIML  8008274116
8   2118      AJAY    CSE  8897137271
9   2119     PAVAN     DS  7569705100
10  2120    SRAVAN   AIML  8866775544
11  2121    SIRI      CSE  9080706050
12  2122      VASU    CSE  1213141516
13  2123       RAM     DS  2334455667
14  2124      HARI    CSE  9876509876
15  2125    NAVEEN   AIML  4769032765
16  2126     SUHAS   AIML  1098756473
17  2127      ANJU    CSE  9501122323
18  2128     RUSHI    CSE  5376281987
19  2129     RUCHI   AIML  2223337778
20  2130     SNEHA     DS  1234567891

In [ ]:
import pandas as pd
data=pd.read_csv("/content/heart.csv")
print(data)

      age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
0      52    1   0       125   212    0        1      168      0      1.0
1      53    1   0       140   203    1        0      155      1      3.1
2      70    1   0       145   174    0        1      125      1      2.6
3      61    1   0       148   203    0        1      161      0      0.0
4      62    0   0       138   294    1        1      106      0      1.9
...   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
1020   59    1   1       140   221    0        1      164      1      0.0
1021   60    1   0       125   258    0        0      141      1      2.8
1022   47    1   0       110   275    0        0      118      1      1.0
1023   50    0   0       110   254    0        0      159      0      0.0
1024   54    1   0       120   188    0        1      113      0      1.4

      slope  ca  thal  target
0         2   2     3       0
1         0   0     3       0
2         0   0     3       0
3         2   1     3       0
4         1   3     2       0
...     ...  ..   ...     ...
1020      2   0     2       1
1021      1   1     3       0
1022      1   1     2       0
1023      2   0     2       1
1024      1   1     3       0

[1025 rows x 14 columns]

In [ ]:
import pandas as pd
data=pd.read_csv("/content/games_dataset.csv")
print(data)

                                    Game Name       Genre         Platform  \
0                   Sekiro: Shadows Die Twice      Sports  Nintendo Switch
1                                     Control      Puzzle  Nintendo Switch
2                                    Among Us    Strategy  Nintendo Switch
3                Call of Duty: Modern Warfare     Stealth      PlayStation
4                           League of Legends  Simulation               PC
...                                       ...         ...              ...
4995  The Legend of Zelda: Breath of the Wild      Sports               PC
4996                Assassin's Creed Valhalla     Stealth           Mobile
4997             Fall Guys: Ultimate Knockout      Sports           Mobile
4998                            Borderlands 3  Platformer             Xbox
4999         Counter-Strike: Global Offensive      Action      PlayStation

      Release Year  User Rating
0             2014     9.654719
1             2000     3.457386
2             2007     5.367622
3             2005     1.240325
4             2021     3.535476
...            ...          ...
4995          2013     6.352838
4996          2020     1.852730
4997          2021     5.268067
4998          2018     4.558510
4999          2022     3.443231

[5000 rows x 5 columns]